<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>830113414345-ippr4s73j5lbkg5p6fboe51ks105a2v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830113414345-ippr4s73j5lbkg5p6fboe51ks105a2v0</string>
	<key>API_KEY</key>
	<string>AIzaSyAapWIHgF49NtXa-0WwYrlrr303vW5w6Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>830113414345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MA18Ios-Firestore</string>
	<key>PROJECT_ID</key>
	<string>ma18iosfirestore</string>
	<key>STORAGE_BUCKET</key>
	<string>ma18iosfirestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830113414345:ios:8123099502f60441</string>
	<key>DATABASE_URL</key>
	<string>https://ma18iosfirestore.firebaseio.com</string>
</dict>
</plist>